window {
    background-color: #{{base00}};
    border-color: #{{base06}};
}

button,
image {
    color: #{{base04}};
}

button {
    color: #eee;
}

button:hover {
    background-color: #{{base07}};
}
